*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #888;
  font-size: min(7vw, 2rem);
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffa500;
}

h1,
p {
  margin: 20px;
  text-align: center;
}

p {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 60px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  max-width: 100%;
  height: 300px;
  max-height: 100%;
  padding: 5px;
  gap: 5px;
  margin: 20px auto;
  background: #b6c124;
  border: 1px solid #00bd0e;
  border-radius: 5px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  line-height: 0;
  color: #ffa500;
  cursor: not-allowed;
  border: 1px solid #00bd0e;
  background: #777777;
  border-radius: 5px;
}

.free {
  cursor: crosshair;
}

.info,
.lineupbox,
button,
input[type=text] {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  width: 300px;
  max-width: 100%;
  padding: 5px 10px;
  margin: 20px auto;
  font-size: min(5vw, 1.5rem);
  font-weight: 200;
  color: #ffa500;
  outline: none;
  background: transparent;
  border: 3px solid #ffa500;
  border-radius: 10px;
}

.info {
  margin-bottom: 0;
  border-radius: 10px;
}

.invite {
  grid-column: 1 / 3;
}

button {
  cursor: pointer;
}

input[type=text] {
  width: 100%;
  outline: none;
  margin: 0;
  background-color: #777777;
  border-width: 1px;
  border-radius: 10px;
}

input[type=text]:hover {
  text-shadow:  0 0 8px #afafaf;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: .8rem;
  color: #444444;
  opacity: 1; /* Firefox */
}

.lineupbox h2 {
  font-size: 1.3rem;
  margin: 0 0 10px 0;
  padding: 0;
}

.lineup {
  width: 100%;
  list-style: none;
}

.lineup li {
  position: relative;
  margin-bottom: 9px;
}

.no-winners {
  opacity: 0.6;
  color: #ffffff;
  font-size: 12px;
}

.X {
  cursor: not-allowed;
  background-color: #1b6717;
}

.O {
  background-color: #303eaf;
}